# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS / Editor files
.DS_Store
.idea/
.vscode/

# React specific
.cache/

# Express specific
tmp/
pids/

# Coverage
coverage/

# Misc
*.pid
*.seed
*.orig
secrets/
