name: Manual Deploy (by tag)

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Service to deploy"
        required: true
        type: choice
        options:
          - frontend
          - backend
          - backoffice

      tag:
        description: "Docker image tag (e.g. 1.0.3)"
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      VPS_HOST: ${{ secrets.VPS_HOST }}
      VPS_USER: ${{ secrets.VPS_USER }}
      VPS_SSH_KEY: ${{ secrets.VPS_SSH_KEY }}

    steps:
      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy selected service
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ env.VPS_HOST }}
          username: ${{ env.VPS_USER }}
          key: ${{ env.VPS_SSH_KEY }}
          script: |
            set -e
            cd /root

            SERVICE="${{ inputs.service }}"
            TAG="${{ inputs.tag }}"

            if [ "$SERVICE" = "frontend" ]; then
              IMAGE="pooyaos/chess-frontend"
            elif [ "$SERVICE" = "backend" ]; then
              IMAGE="pooyaos/chess-backend"
            elif [ "$SERVICE" = "backoffice" ]; then
              IMAGE="pooyaos/chess-backoffice"
            else
              echo "Unknown service"
              exit 1
            fi

            echo "Deploying $SERVICE -> $IMAGE:$TAG"

            docker pull "$IMAGE:$TAG"
            docker tag "$IMAGE:$TAG" "$IMAGE:latest"

            docker compose up -d "$SERVICE"

            docker image prune -f
